*
{
    margin: 0;
    padding: 0;
    
}

/*---------------------------nav----------------*/

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height:50px;
    padding-left: 40px;
    max-height: 100px;
    max-width: 100px;
}
.navbar-nav li
{
    padding: 0 10px;
    
}
.navbar-nav li a
{
    float:right;
    text-align: left;
    
}
#nav-bar ul li a:hover
{
    color: darkturquoise!important; 
}
.navbar 
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
    
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*--------------------------slider------------------------------*/

#slider
{
    width:100%;
   
}

.carousel-caption
{
    top: 65%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h6 
{
    color: #fff;
    font-size: 42px;
    
    
    
}
/*----about---------*/
#about
{
    padding-bottom: 50px;
    padding-top: 50px;
    color: #555;
    
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.about-content
{
    padding-top: 20px;
    
}
.about-img img
{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

/*--------------------services-------------------*/
#services
{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(banner2.jpg);
    background-size:cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{

text-align: center;
    color:#efefef!important;
    padding-bottom: 10px;
    


}
#services h1:after
{

content: '';
   background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px  auto 5px;
    
    
}
.services{
    margin-top: 40px;
    
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height:80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
    
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*-----------------------------------pricing----------------------------*/

#pricing
{
padding-top: 50px;
padding-bottom: 50px;
color: #555;
}
h1
{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
    
}

h1::after
{
  content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}

.pricing-details
{
    padding-top: 20px;
    
}

.img-box
{
    margin-top: 25px;  
}

.img-box img
{
    margin-left: 10px;
    
    
    height: 400px;
    width: auto;
    
}

/*-------------------------------contact us----------------------*/


#contact
{
    background: #efefef;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #777;
    
}

.contact-form
{
    padding: 15px;
}

.form-control
{
    border-radius: 0 !important;
    border: none!important;
    
}
::placeholder
{
    color: #999!important;
    
}
.follow
{
    background-color: #fff;
    padding: 10px;
    margin: 13px;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

/*-----------footer------------*/

.footer
{
    background: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .row .col-md-6
{
    padding-left: 20px!important;
    padding-right: 20px!important;
}

/*---click-to-call--*/


.phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 20px; /* Add space around background */

}
.phoneicon{
    width: 80px; /* Set width of icon */
    height: 80px; /* Set height of icon */
}
@media screen and (max-width: 480px){
    .lgscreenphone{
        display: none;  /* On small screens make phone icon disappear */
    }
    .mbscreenphone{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 481px){
    .mbscreenphone{
        display: none; /* On large screens make phone icon disappear */
    }
    .lgscreenphone{
        display: block; /* On large screens make phone icon appear */
    }
}